*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.overall{
    height: auto;
    width: 100vw;
    /* background-color: orange; */
    overflow: auto;
    display: flex;
    
}

.sidebar{
    height: 600px;
    width: 150px;
    /* background-color: blue; */
    /* text-align: center; */
    padding-top: 20px;
    font-size: 1.5rem;
    /* margin-left: 20px; */
}
.s1{
    height: 500px;
    width: 100%;
    /* background-color: red; */
    /* margin-top: 10px;
    margin-left: 10px; */
}
.youtube_img{
    height: 80px;
    margin-top: -20px;
   /* margin-left: -10px; */
}
.menu{
    /* margin-top: -20px; */
    font-size: 2rem;
   
}
.menu1:hover{
    font-size: 2rem;
    position: fixed;
    background-color: aqua;
    height: 400px;
    width: 200px;
}
.total{height: 100vh;
    width: 100%;
    
}
.navbar{
    height: 100px;
    width: 100%;
    /* background-color: green; */
    padding-top: 20px;
}
.nav{
    height: 80px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.head2{
    display: flex;
    margin-left: 150px;
}
.search{
    height: 50px;
    width: 550px;
    border: 1px solid rgb(228, 226, 226);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-top: 10px;
    /* margin-top: 80px; */
    
}
.search_icon{
    height: 50px;
    width: 80px;
    border: 2px solid rgb(238, 236, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 50px;
     border-top-right-radius: 50px;
     background-color: rgb(223, 221, 221);

}
.mic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 221, 221);
}
.mic2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 221, 221);
   
}
.head3{
    height: 50px;
   width: 150px;
   font-size: 1.5rem;
   background-color: rgb(223, 221, 221);
   padding-left: 35px;
   padding-top: 10px;
   border-radius: 1000px;
   margin-left: 70px;
}
.common{
    background-color: aqua;
}
.new_full{
    height: 800px;
    width: 100vw;
    background-color: orange;
   
    display: flex;
}
.play{
    height: 400px;
    width: 60vw;
    /* background-color: pink; */
}
.side_play{
    height: 400px;
    width: 40vw;
    /* background-color: green; */
}
.play1{
    /* background-color: aliceblue; */
    margin-bottom: 20px;
    width: 60vw;
}
.subscribe{
    height: 80px;
    width: 90vw;
    /* background-color: red; */
    display: flex;
}
.sub1{
    height: 80px;
    width: 50vw;
    /* background-color: blueviolet; */
    display: flex;
   
}
.sub2{
    height: 80px;
    width: 50vw;
    /* background-color: aqua; */
    display: flex;
    column-gap:20px;
}
.name{
    font-size: 2rem;
}
p{
    opacity: 0.7;
}
.sub_button{
    height: 50px;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}
.new_like{
    height: 50px;
    width: 120px;
    background-color: rgb(240, 240, 240);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.new_like1{
    height: 50px;
    width: 50px;
    background-color: rgb(240, 240, 240);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
   margin-left: 70px;
}
.new_comments{
    height: 80px;
    width: 90vw;
    /* background-color: crimson; */
    font-size: 2rem;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.user_comment{
    /* background-color: bisque; */
    display: flex;
    text-align: center;
    align-items: center;
    /* margin-left: 20px; */
    margin-bottom: 20px;
}
h3{
    margin-left: 40px;
}
.comment_sec{
    /* background-color: chartreuse; */
    height: 100px;
    width: 90vw;
    display: flex;
    
}
.sub_name{
    margin-left: 0px;
}
h4{

    opacity: 0.7;
}
.ago{
    display: flex;
    justify-content: space-between;
    
}
.reply{
    padding-top: 0px;
    font-size: 1.3rem
}
@media screen and (min-width:992px) and (max-width:1199px){
   .head2{
    margin-left: 100px;
   }
    .head3{
    margin-left: 20px;
    padding-left: 20px;
   }
   .search{
    width: 300px;
   }
   .content{
    margin-left: 150px;
   }
   .menu{
        display: none;

       }
       .play{
        height: 400px;
       }
       .like_bar{
    height: 60px;
    width: 300px;
    display: flex;
}

.play_content{
    height: 70px;
    width: 100%;

    margin-top: 20px;
}
.info{
    height: 60px;
    width: 200px;
    /* background-color: chocolate; */
    display: flex;
}
.fa-share{
    display: none;
}
.sub_button{
    font-size: 1.2rem;
}
 .new_like1{
    margin-left: 100px;
}

}

@media screen and (min-width:768px) and (max-width:991px){
   .head2{
    margin-left: 100px;
   }
   .search{
    width: 300px;
   }
   .head3{
    margin-left: 20px;
    padding-left: 20px;
   }
   .content{
    margin-left: 150px;
   }
   .menu{
        display: none;

       }
       .play{
        height: 300px;
       }
       .sub1{
        font-size: 1rem;
       }
       .name{
        font-size: 2rem;
       }
       .new_like1{
    margin-left: 20px;
}
}
@media screen and (min-width:576px) and (max-width:767px){
    .head2{
        margin-left: 40px;
       }
       .search{
        width: 200px;
       }
       .content{
        margin-left: 80px;
       }
       .head3{
        display: none;
       }
        .menu{
        display: none;

       }
       .play{
        height: 200px;
       }
       .play{
    height: 300px;
    width: 100vw;
    /* background-color: pink; */
    margin: 10px;
}
.sub1{
        font-size: 1rem;
       }
}
.name{
    font-size: 1.2rem;
}
.new_like1{
    margin-left: 0px;
}
.sub2{
    column-gap: 3px;
}
@media screen and (max-width:575px){
    .head2{
        margin-left: 10px;
       }
       .search{
        width: 200px;
       }
       .content{
        margin-left: 70px;
        width: 300px;
       }
       .head3{
        display: none;
       }
       .sidebar{
        width: 40px;
       }
       .s1{
        display: none;
       }
       .fa-bell-o{
        display: none;
       }
       /* .common{
        font-size: 2rem;
        margin-right: 20px;
        margin-top: 25px;

       } */
       .navbar{
        overflow: hidden;
       }
       .play{
        height: 200px;
       }
       .play_content{
        font-size: 8px;
        height: 40px;
       }
       
.sub_button{
       height: 40px;
    width: 80px;
    /* background-color: black; */
    font-size: 1rem;
    /* display: flex;
    align-items: center;
    justify-content: center;
    color: white; */
    border-radius: 20px;
}
.cs2{
    display: none;
}
.cs1{
    margin-top: 0px;
    font-size: 0.9rem;
   
}
.cs{
    font-size: 1rem;
}
.h2{
    margin-left: 30px;
}
.like_bar{
  display: none;
/* .fa-thumbs-up{
    margin-left: 0px;
}
.like{
    height: 60%;
    width: 100px;
    font-size: 1.3rem;
    margin-left: 40px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
}
.vedio_content{
         height: 400px;
    width: 80vw;
    /* background-color: green; */
    margin-top: 10px;
    margin-left: 30px;
    
}
.vedio_side{
     height: auto;
    width: 90%;
    /* background-color: red; */
    padding-left: 30px;
}
.like{
    height: 60%;
    width: 100px;
    font-size: 1rem;
    /* margin-left: 0px; */
    /* background-color: gray; */
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.fa-thumbs-down{
    margin-left: 0px;
}
.like1{
    height: 60%;
    width: 100px;
    font-size: 1.3rem;
    margin-left: 10px;
    /* background-color: gray; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new_full{
    flex-direction: column;
}
.play{
    height: 300px; 
    width: 90vw;
    background-color: pink;
    margin: 10px;
}
.side_play{
    height: 800px;
    width: 80vw;
    background-color: green;
}
.subscribe{
    flex-direction: column;
    justify-content: start;
}
.name{
     font-size: 1.2rem;
}
.sub1{
    width: 90vw;
    
}
.sub2{
    width: 90vw;

}
.new_like1{
    margin-left: 0px;
}

}
